.brewery-list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: 225px;
}
.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;
    height: 225px;
    width: 350px;
    border-radius: 10px;
    margin: 20px;
    background-color: #c19898;
    padding: 10px;
    opacity: .9;

}

.brewery-title {
    font-size: 20px;
    padding: 10px;
}

.cards-btn {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: .5s;
    color: #bbb;
}

.cards-btn:hover {
    background-color:#c19898;
    color: #fff;
}

p {
    margin: 10px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
}

/* Tablet */
@media only screen and (min-width: 768px){
    .brewery-list {
        margin-top: 300px;
    }
    .cards-container{
        width: 700px;
    }
    .cards-btn {
        width: 300px;
        font-size: 18px;
        color: #bbb;
    }
    .brewery-title {
        font-size: 25px ;
    }
    p {
        font-size: 16px;
    }
}