.about-container {
    background: url('https://images.unsplash.com/photo-1605296862588-2858174c3e6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80');
    background-size: cover;
    height: 100%;
    overflow: hidden;
    /* opacity: .9; */
    color: #d3d3d3;
    height: 100vh;
    padding: 10px;
}

.about-title {
    padding-left: 20px;
}