.about-container {
    background: url('https://images.unsplash.com/photo-1641965484204-8fbc982477fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=690&q=80');
    background-size: cover;
    overflow: scroll;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    opacity: .6;
    border-radius: 5px;
    width: 300px;
    overflow: scroll;
    margin: 10px;
}

.about-title {
    font-size: 30px;
}

.about-text {
    background-color: #ffff;
    opacity: .6;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px ;
    height: 300px;
}

.about-text p {
    font-size: 13px;
}


/* Tablet */
@media only screen and (min-width: 768px){
    .about-cards {
        width: 600px;
        height: 100px;
    }

    .about-text {
        width: 600px;
        height: 300px;
    }

    .about-title {
        font-size: 45px;
    }

    .about-text p {
        font-size: 18px;
    }

  
    
}